 @charset "utf-8";

 h1{
     background-color:orange;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    color:white;
    text-shadow:red 4px 0;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
 }